body {
    background-color: #cdb4db;
}

.navbar {
    background-color: pink;
    border-radius: 20px;
    margin: 1rem;
}

#logo {
    width:3rem;
    height:3rem;
    margin-right: 1rem;
}

.navbar-brand {
    font-family: "Tilt Neon", Arial, Helvetica, sans-serif;
    font-size: 2rem;
}

.nav-item {
    font-family: "Tilt Neon", Arial, Helvetica, sans-serif;
}

[class="container-fluid d-flex flex-wrap"] {
    min-height: 80vh;
    justify-content: center;
    align-items: center;
}

@media (max-width: 990px) {
    [class="container-fluid d-flex flex-wrap"] {
        min-height: 50vh;
    }
}

#welcome {
    font-family: "Tilt Neon", Arial, Helvetica, sans-serif;
    font-weight: bolder;
    font-size: 4rem;
    justify-content: center;
    align-self: center;
}

.btn {
    margin-left: auto;
    margin-right: 0;
    background-color: #FFAFCC ;
    border: none;
}

.material-symbols-outlined {
  padding-top: 0.3rem;
  color: purple;
}

.float-child {
    font-family: "Tilt Neon", Arial, Helvetica, sans-serif;
    background-color: #A2D2FF;
    border-radius: 20px;
    width: 49%;
    margin: 0.5%;
    margin-top: 1rem;
    float: left;
    background-color: pink;
}

#info {
    margin-top: 0.75rem;
}

.social {
    height: 3rem;
    width: 3rem;
    margin-right: 0.25rem;
    margin-left: 0.25rem;
    margin-top: 0.8rem;
}